.card {
  margin-bottom: 10px;
}

.header {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #fff;
}

button,
button:focus,
button:active {
  outline: none !important;
  box-shadow: none !important;
  background: transparent !important;
  border: none !important;
}

button:hover,
button:focus,
button:active {
  color: #e74c3c;
}

button:hover > i,
button:focus > i,
button:active > i {
  opacity: 1;
}

button > i {
  font-size: 20px;
  opacity: 0.5;
}
