<div>
  <ul class="list-group">
    <li class="list-group-item">
      <a [routerLink]="['/home']">Authors</a>
    </li>

    <li *ngIf="isAuth" class="list-group-item d-flex flex-column">
      <a [routerLink]="['/home/favorites']">Favorites - ({{ authors.length + books.length }}) </a>
      Authors {{ authors.length }} - Books {{ books.length }}
    </li>

    <li *ngIf="!isAuth" class="list-group-item">
      <a [routerLink]="['/auth/login']">Login</a>
    </li>

    <li *ngIf="isAuth" class="list-group-item">
      <button class="btn btn-link" (click)="cerrarSesion()">Logout</button>
    </li>
  </ul>
</div>
